<!-- <app-search-bar (searchValue)="searchValueInput($event)"></app-search-bar> -->

<div class="container " >
    <div class="row row-cols-1 row-cols-md-2"  >
        <div class="col mb-4" *ngFor="let cookbook of cookbookList">
            <div class="card h-100"  >
                    <div class="card-body">
                        <h5 class="card-title"><a [routerLink]="['/cookbook', cookbook.id]"> {{cookbook.name}}</a></h5>
                        <p class="card-text">{{cookbook.author}}</p>
                    </div>
            </div>
            
        </div>
    </div>
</div>